<header>
    <div class="navbar_m flex">
        <div class="iconapp">
            <a href=""><img src="./assets/img/icon-appm.png" alt=""></a>
        </div>
        <div class="box-btn flex">
            <a href="" title="Nạp thẻ" class="btn_napthe">Nạp thẻ</a>
            <a href="" title="Chơi ngay" class="btn_play">Chơi ngay</a>
            <a href="" title="" class="btn_gift">Giftcode</a>
            <a href="" title="" class="btn_fanpage">Fanpage</a>
        </div>
        <button class="navbar-toggler" type="button"></button>
    </div>
    <nav class="navbar">
        <ul class="navbar-menu flex">
            <li><a href="" title=""><i class="icon-home"></i></a></li>
            <li><a href="" title="Giới thiệu">Giới thiệu</a></li>
            <li><a href="" title="Tin tức - Sự kiện">Tin tức - Sự kiện</a></li>
            <li><a href="" title="Hướng dẫn">Hướng dẫn</a></li>
            <li><a href="" title="Hotline">Hotline</a></li>
        </ul>
    </nav>
    <h1><a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a></h1>
    <a href="javascript:;" title="Chơi ngay" class="btn_playnow" data-toggle="modal" data-target="#popup-login">Chơi ngay</a>
    <div class="box-right">
        <a href="javascript:;" class="close"></a>
        <div class="box-btn">
            <a href=""><i class="icon icon-play"></i> <span>chơi ngay</span></a>
            <a href=""><i class="icon icon-pay"></i> <span>Nạp thẻ</span></a>
            <a href=""><i class="icon icon-fanpage"></i> <span>Fanpage</span></a>
            <a href=""><i class="icon icon-gift"></i> <span>Giftcodee</span></a>
        </div>
        <div class="iconapp"><img src="./assets/img/icon-app.png" alt=""></div>
    </div>
    <div class="modal fade popup-register" id="popup-register">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h5 class="modal-title">Đăng ký</h5>
                <form action="" method="" class="form-register">
                    <div class="form-group">
                        <input type="text" name="" placeholder="Tài khoản">
                    </div>
                    <div class="form-group">
                        <input type="email" name="" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="" placeholder="Mật Khẩu">
                    </div>
                    <div class="form-group">
                        <input type="password" name="" placeholder="Nhập lại mật khẩu">
                    </div>
                    <button type="submit" class="btn_submit flex_center">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade popup-login" id="popup-login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
                <h5 class="modal-title">Đăng nhập</h5>
                <form action="" method="" class="form-login">
                    <div class="form-group">
                        <input type="text" name="" placeholder="Tài khoản">
                    </div>
                    <div class="form-group">
                        <input type="password" name="" placeholder="Mật Khẩu">
                    </div>
                    <a href="" title="" class="link_fp">Quên mật khẩu ?</a>
                    <button type="submit" class="btn_submit flex_center">Đăng nhập</button>
                    <p>Bạn chưa có tài khoản? <a href="javascript:;" data-dismiss="modal" data-toggle="modal" data-target="#popup-register">Đăng ký</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-navbar"></div>
</header>