<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.slider-home').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: true
        });
        $('.feature__slider').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            fade: true,
            centerPadding: 0,
            dots: false,
            arrows: true
        });
        $('.charcter__tab a').on('click',function () {
            $('.charcter__tab a').removeClass('active');
            $(this).addClass('active');
            let sect_img = $(this).data('img');
            let sect_class = $(this).data('class');
            let html_img = `<div class="charcter__img fadeIn animated ${sect_class}"><img src="${sect_img}" alt=""></div>`;
            $('.charcter__content').html('').append(html_img);
        });
    });
</script>
</body>
</html>