<main>
    <div class="section s1 flex">
        <div class="slider-home">
            <div class="item"><a href=""><img src="./assets/img/slide.jpg" alt=""></a></div>
            <div class="item"><a href=""><img src="./assets/img/slide.jpg" alt=""></a></div>
        </div>
        <div class="news">
            <ul class="news__tab nav flex">
                <li><a href="#news" class="active" data-toggle="tab" title="Tin tức">Tin tức</a></li>
                <li><a href="#event" data-toggle="tab" title="Sự kiện">Sự kiện</a></li>
                <li><a href="#guide" data-toggle="tab" title="Hướng dẫn">Hướng dẫn</a></li>
            </ul>
            <div class="tab-content">
                <div id="news" class="tab-pane fade show active">
                    <ul class="news__list">
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                    </ul>
                    <a href="" title="" class="btn_viewmore">Xem thêm</a>
                </div>
                <div id="event" class="tab-pane fade">
                    <ul class="news__list">
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                        <li><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></li>
                    </ul>
                    <a href="" title="" class="btn_viewmore">Xem thêm</a>
                </div>
                <div id="guide" class="tab-pane fade">

                </div>
            </div>
        </div>
    </div>
    <div class="charcter pr">
        <ul class="charcter__tab flex">
            <li><a href="javascript:;" data-class="charcter__img--ngutieu" data-img="./assets/img/ngutieu.png" title="">Ngự tiêu</a></li>
            <li><a href="javascript:;" data-class="charcter__img--lacanh" data-img="./assets/img/lacanh.png" title="">Lạc anh</a></li>
            <li><a href="javascript:;" data-class="charcter__img--truongca" data-img="./assets/img/truongca.png" title="">Trường ca</a></li>
        </ul>
        <div class="charcter__content">
            <div class="charcter__img charcter__img--ngutieu">
                <img src="./assets/img/ngutieu.png" alt="">
            </div>
        </div>
    </div>
    <div class="feature">
        <div class="feature__slider">
            <div class="item">
                <img src="./assets/img/media.jpg" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/media.jpg" alt="">
            </div>
        </div>
    </div>
</main>