<main>
    <div class="category pr">
        <ul class="nav-category flex">
            <li><a href="http://localhost:8000/tin-tuc.html" title="">Tin tức</a></li>
            <li><a href="" title="">Sự kiện</a></li>
            <li><a href="" title="">Hướng dẫn</a></li>
        </ul>
        <div class="category__list">
            <article class="post flex">
                <a href="" class="thumb"><img src="./assets/img/thumb.png" alt=""></a>
                <div class="content">
                    <h3><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></h3>
                    <p>15 tựa game bắn súng miễn phí đáng chơi nhất 202115 tựa game bắn súng miễn phí đáng chơi nhất 2021 15 tựa game bắn súng miễn phí đáng chơi nhất 202115 tựa game bắn súng miễn phí đáng chơi nhất 2021</p>
                </div>
            </article>
            <article class="post flex">
                <a href="" class="thumb"><img src="./assets/img/thumb.png" alt=""></a>
                <div class="content">
                    <h3><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></h3>
                    <p>15 tựa game bắn súng miễn phí đáng chơi nhất 202115 tựa game bắn súng miễn phí đáng chơi nhất 2021</p>
                </div>
            </article>
            <article class="post flex">
                <a href="" class="thumb"><img src="./assets/img/thumb.png" alt=""></a>
                <div class="content">
                    <h3><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></h3>
                    <p>15 tựa game bắn súng miễn phí đáng chơi nhất 202115 tựa game bắn súng miễn phí đáng chơi nhất 2021 15 tựa game bắn súng miễn phí đáng chơi nhất 202115 tựa game bắn súng miễn phí đáng chơi nhất 2021</p>
                </div>
            </article>
            <article class="post flex">
                <a href="" class="thumb"><img src="./assets/img/thumb.png" alt=""></a>
                <div class="content">
                    <h3><a href="">15 tựa game bắn súng miễn phí đáng chơi nhất 2021</a></h3>
                    <p>15 tựa game bắn súng miễn phí đáng chơi nhất 202115 tựa game bắn súng miễn phí đáng chơi nhất 2021</p>
                </div>
            </article>
        </div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="icon-prev"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="icon-next"></i></a>
            </li>
        </ul>
    </div>
</main>