:root{
  --UTMLlKT: UTMLibelKT,sans-serif;
  --UTMBebas: UTMBebas, sans-serif;
  --TimesNewRomanPSMT: TimesNewRomanPSMT, sans-serif;
  --UTMDaxlineMedium: UTMDaxlineMedium, sans-serif;
}
body{
  width: 100%;
  min-height: vw(1857px);
  background: #a2bfc3 url("#{$img-path}/bg-page.jpg") no-repeat 0 0/contain;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #2b2828;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@font-face {
  font-family: UTMDaxlineMedium;
  src: url("#{$font-path}/UTMDaxlineMedium.ttf");
}

@font-face {
  font-family: UTMBebas;
  src: url("#{$font-path}/UTMBebas.ttf");
}

@font-face {
  font-family: UTMLibelKT;
  src: url("#{$font-path}/UTMLibelKT.ttf");
}

@font-face {
  font-family: TimesNewRomanPSMT;
  src: url("#{$font-path}/TimeNewRoman.ttf");
}

body.home{
  min-height: vw(4011px);
  background:#213349 url("#{$img-path}/bg-home.jpg") no-repeat 0 0/contain;
}
body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .26s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(2.0); filter: saturate(2.0);}
//header
header{
  h1{display: inline-block; margin: vw(26px) 0 0 vw(1132px);}
  .logo{
    display: block; width: vw(318px);
    &:hover{@extend %hover;}
  }
  .btn_playnow{
    width: vw(283px); height: vw(122px);
    margin: vw(442px) 0 0 vw(1148px);
    display: block; text-indent: -9999em;
    background: url("#{$img-path}/btn-play.png") no-repeat 0 0/contain;
    animation: flash .8s infinite linear;
    &:hover{@extend %hover;}
  }
}
.navbar_m{display: none;}
.navbar{
  padding: 0; height: vw(95px); justify-content: center;
  background: url("#{$img-path}/bg-navbar.jpg") no-repeat 0 0/contain;
}
.navbar-menu{
  li{margin: 0 vw(55px); display: flex; align-items: center;}
  a{display: block; font: vw(36px) var(--UTMLlKT); line-height: vw(95px); color: #fff; text-shadow: 1px 1px 12px #0f7988, 1px -1px 12px #0f7988, 1px 1px 6px #0f7988;}
  a:hover{@extend %hover;}
  .icon-home{
    width: vw(93px); height: vw(81px); display: block;
    background: url("#{$img-path}/icon-home.png") no-repeat 0 0/contain;
  }
}
.box-right{
  width: 209px; height: 382px;
  padding: 17px 0 0 41px;
  background: url("#{$img-path}/bg-right.png") no-repeat 0 0/contain;
  position: fixed; right: 0; top: 50%; transform: translateY(-50%); transition: .6s; z-index: 90;
  &.is-show{right: -160px;}
  a{
    width: 155px; height: 43px; display: block;
    padding: 0 0 6px 49px;
    margin-bottom: 6px;
    background: rgba(#0054a6,.57);
    box-shadow: 0px 1px 5px 0 #000;
    border-radius: 10px;
    color: #f0f0f8; text-transform: uppercase;
    font: 30px var(--UTMBebas); line-height: 40px;
    position: relative;
  }
  .close{
    width: 27px; height: 54px;
    background: url("#{$img-path}/ar.png") no-repeat;
    position: absolute; top: 50%; transform: translateY(-50%) rotate(180deg); left: -17px;
    opacity: 1;
    box-shadow: none;
  }
  a:hover{@extend %hover;}
  .icon{display: block; width: 50px; background: url("#{$img-path}/icons.png") no-repeat; position: absolute;}
  .icon-play{height: 55px; background-position: 0 -3px; left: 0; top: -6px;}
  .icon-pay{height: 55px; background-position: 0 -62px; left: -3px; top: -5px;}
  .icon-fanpage{height: 58px; background-position: 0 -118px; left: 0; top: -7px;}
  .icon-gift{height: 64px; background-position: 0 -178px; left: 0; top: -12px;}
  @media (max-width: 1440px) {
    transform: scale(.8) translateY(-50%); right: -20px;
    &.is-show{right: -140px;}
  }
}
//main
.section.s1{
  width: vw(1236px); height: vw(473px);
  margin: vw(360px) auto 0;
  background: url("#{$img-path}/bg-s1.png") no-repeat 0 0/contain;
  padding: vw(54px) vw(37px) vw(50px);
}
.slider-home{
  width: vw(595px); height: vw(370px);
  img{width: 100%; height: 100%; object-fit: cover;}
  .slick-arrow{
    width: vw(73px); height: vw(99px);
    background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  }
  .slick-next{right: vw(-15px);}
  .slick-prev{left: vw(-15px);}
}
.news{
  &__tab{
    margin: vw(8px) 0 vw(6px) vw(40px);
    li{margin: 0 vw(6.5px);}
    a{
      width: vw(137px); height: vw(54px); display: block;
      background: url("#{$img-path}/btn.png") no-repeat 0 0/contain;
      color: #fff; font: vw(27px) var(--UTMBebas); text-transform: uppercase;
      text-align: center; line-height: vw(52px);
    }
    .active{background: url("#{$img-path}/btn-hover.png") no-repeat 0 0/contain;}
  }
  &__list{
    padding: 0 vw(54px) 0 vw(50px);
    >*+*{border-top: vw(2px) solid #757474;}
    li{padding: vw(9.5px) 0; position: relative;}
    li::before{
      content: "";
      width: vw(28px); height: vw(29px);
      background: url("#{$img-path}/dot.png") no-repeat 0 0/contain;
      position: absolute; left: vw(-10px); top: vw(5px);
    }
    a{
      display: block; padding-left: vw(18px);
      font:600 vw(20px) var(--TimesNewRomanPSMT), sans-serif; color: #353535;
      white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
    }
    a:hover{color: #7f0000;}
  }
  .tab-content{
    width: vw(567px); height: vw(301px); padding: vw(15px) 0; background: url("#{$img-path}/bg-news.jpg") no-repeat 0 0/100% 100%;
  }
  .btn_viewmore{
    width: vw(137px); height: vw(55px); display: block;
    margin: 0 auto;
    background: url("#{$img-path}/btn.png") no-repeat 0 0/contain;
    color: #fff; font: vw(27px) var(--UTMBebas); text-transform: uppercase;
    line-height: vw(53px); text-align: center;
    &:hover{background: url("#{$img-path}/btn-hover.png") no-repeat 0 0/contain;}
  }
}
.charcter{
  height: vw(810px);
  margin-top: vw(255px);
  &__tab{
    position: absolute;
    right: vw(330px); bottom: vw(20px); z-index: 2;
    li{margin: 0 vw(15px);}
    a{width: vw(135px); height: vw(135px); display: block; text-indent: -9999em;}
    .active{-webkit-filter: saturate(2.2); filter: saturate(2.2);}
    li:nth-child(1) a{background: url("#{$img-path}/icon-nv1.png") no-repeat 0 0/contain;}
    li:nth-child(2) a{background: url("#{$img-path}/icon-nv2.png") no-repeat 0 0/contain;}
    li:nth-child(3) a{background: url("#{$img-path}/icon-nv3.png") no-repeat 0 0/contain;}
  }
  &__img{
    position: absolute;
    &--ngutieu{top: vw(-72px);}
  }
}
.feature{
  margin-top: vw(255px);
  &__slider{width: vw(1060px); margin: 0 auto;}
  .slick-arrow{
    width: vw(112px); height: vw(123px);
    background: url("#{$img-path}/next1.jpg") no-repeat 0 0/contain;
  }
  .slick-next{right: vw(-125px);}
  .slick-prev{left: vw(-125px);}
}

//category
.category{
  width: vw(1138px); height: vw(1009px);
  margin: vw(10px) auto 0;
  background: url("#{$img-path}/bg-category.png") no-repeat 0 0/100% 100%;
  padding: vw(61px) vw(110px) vw(35px) vw(120px);
  &.category_detail{padding: vw(60px);}
  .nav-category{
    justify-content: center;
    margin-bottom: vw(25px);
    li{margin: 0 vw(9px);}
    a{
      width: vw(224px); height: vw(88px); display: block;
      background: url("#{$img-path}/btn.png") no-repeat 0 0/contain;
      color: #fff; font: vw(43px) var(--UTMBebas); text-transform: uppercase;
      text-align: center; line-height: vw(84px);
    }
    a:hover,.active{ background: url("#{$img-path}/btn-hover.png") no-repeat 0 0/contain;}
  }
  &__list{
    height: vw(790px);
    padding: vw(10px) 0;
    max-height: inherit !important;
    overflow: auto;
    &::-webkit-scrollbar{width: 4px;}
    &::-webkit-scrollbar-track{background: #ccc; border-radius: 4px;}
    &::-webkit-scrollbar-thumb{background: #888; border-radius: 4px;}
  }
  .post{
    padding: vw(13px) 0;
    border-bottom: vw(3px) solid #333;
    max-width: 98%;
    &:last-child{border-bottom: none;}
    .thumb{display: block; width: vw(147px);}
    .content{width: calc(100% - 7.66vw); margin-top: vw(5px); padding-left: vw(17px); font-family: TimesNewRomanPSMT, sans-serif;}
    h3{padding-left: vw(37px); margin-bottom: vw(22px); font-weight: 600; font-size: vw(30.5px); position: relative;}
    h3::before{
      content: "";
      width: vw(37px); height: vw(37px);
      background: url("#{$img-path}/dot.png") no-repeat 0 0/contain;
      position: absolute; left: 0; top: 0;
    }
    h3 a{color: #353535; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
    h3 a:hover{color: #7f0000;}
    p{
      padding-left: vw(24px); color: #353535; font-size: vw(23.5px); line-height: 1.2; font-weight: 600;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .page-detail{
    height: 86%;
    margin-top: vw(35px);
    font-family: TimesNewRomanPSMT, sans-serif;
    color: #353535; overflow: auto;
    >*{padding-right: 10px;}
    &::-webkit-scrollbar{width: 4px;}
    &::-webkit-scrollbar-track{background: #ccc; border-radius: 5px;}
    &::-webkit-scrollbar-thumb{background: #888; border-radius: 5px;}
    .title{display: block; margin-bottom: vw(20px); text-align: center; font-size:vw(34px); text-transform: uppercase;}
    article{font-size: vw(23px); line-height: 1.2;}
  }
}
.pagination{
  margin-top: vw(15px);
  justify-content: center;
  align-items: center;
  li{
    width: 40px; height: 40px;
    display: flex; align-items: center; justify-content: center;
    position: relative;
  }
  .icon-prev,.icon-next{width: 37px; height: 30px; display: block; background: url("#{$img-path}/next3.png") no-repeat 0 0/contain;}
  .icon-prev{transform: rotate(180deg);}
  a{padding: 0; font: 23px TimesNewRomanPSMT, sans-serif; color: #353535; background: none !important; border: none;}
  a:focus{outline: none; box-shadow: none;}
  .page-item.active .page-link{color: #353535;}
  .active::after{
    content: "";
    width: 28px; height: 28px; border: 2px solid #353535;
    position: absolute; top: 5px; left: 5px; transform: rotate(45deg);
  }
}

//modal
.popup-register,.popup-login{
  .modal-dialog{max-width: 581px; margin: 2rem auto;}
  .modal-content{width: 100%; height: 370px; padding: 20px 40px; background: url("#{$img-path}/popup.png") no-repeat 0 0/100% 100%; border: none; font-family: var(--UTMDaxlineMedium);  color: #16445e;}
  .modal-title{
    display: block; margin: 16px 0 20px; text-align: center; color: #16445e;
    font-size: 22px; text-transform: uppercase; text-shadow: 1px 0 0 currentColor;
  }
  .form-group{margin: 0 auto 17px; max-width: 345px;}
  input{
    width: 100%; height: 30px; padding: 0 9px;
    background: rgba(#004480,.32);
    border-radius: 9999px; border: none;
    color: #16445e; font: 18px var(--UTMDaxlineMedium);
    &::placeholder{color: #16445e;}
    &:focus{outline: none;}
  }
  form{text-align: center;}
  .btn_submit{
    width: 124px; height: 33px;
    padding: 0 0 2px 3px;
    background: url("#{$img-path}/btn1.png") no-repeat 0 0/contain;
    color: #fff; font: 16.5px var(--UTMDaxlineMedium);
    margin: 0 auto; text-transform: uppercase;
    &:hover{@extend %hover;}
  }
  .link_fp{
    display: block; margin-bottom: 12px; text-align: center;
    &:hover{text-decoration: underline;}
  }
  p{display: block; margin-top: 10px; text-align: center;  font-size: 18.5px;}
  p a{
    text-shadow: 1px 0 0 currentColor;
    &:hover{border-bottom: 1px solid;}
  }
  a{color: #16445e;}
  .close{
    width: 65px; height: 65px;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; opacity: .9; right: -5px; top: -5px;
  }
}

//uikt
.pr{position: relative;}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
.slick-arrow{
  border: none; text-indent: -9999em;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;
  &:focus{outline: none;}
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}
.modal-navbar{
  width: 100%; height: 100%;
  background: rgba(#000,.5);
  position: fixed; top: 0; z-index: 2;
  opacity: 0; left: -9999px; transition: opacity .3s  ease;
  &.show{left: 0; opacity: 1;}
}


@media (max-width: 1600px){

}
@media (max-width: 1200px){
  @function vwt($target) {
    $vw-context: (1200 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
  }
  body{
    min-height: vwt(2130px);
    background: #a2bfc3 url("#{$img-path}/bg-page-m.jpg") no-repeat 0 0/contain;
  }
  body.home{
    min-height: vwt(5843px);
    background:#213349 url("#{$img-path}/bg-home-m.jpg") no-repeat 0 0/contain;
    header{
      h1{margin: 0; display: block; padding-top: vwt(945px);}
      .logo{width: vwt(449px); margin: 0 auto;}
      .btn_playnow{width: vwt(419px); height: vwt(181px); margin: vwt(565px) auto 0;}
    }
  }
  .box-right{display: none;}
  .navbar{
    position: fixed; left: -100%; top: vwt(124px);
    width: 60%;
    align-items: flex-start;
    padding: vwt(100px) 0;
    background: #2a2f31;
    min-height: calc(100vh - 10vw);
    z-index: 8;
    max-width: 400px;
    overflow: auto;
    transition: all .4s ease-out;
    &.show{left: 0;}
  }
  .navbar-menu{
    display: block;
    li{padding: vwt(25px) 0;}
    a{font-size: vwt(33px);}
    .icon-home{width: vwt(93px); height: vwt(81px);}
  }
  .navbar_m{
    width: 100%; height: vwt(124px); display: flex;
    padding: vwt(23px) vwt(23px) 0;
    background: url("#{$img-path}/bg-nav.jpg") no-repeat 0 0/cover;
    position: fixed; top: 0; z-index: 9;
    .iconapp{width: vwt(198px); margin-right: vwt(25px);}
    .box-btn{
      a{display: block; width: vwt(278px); height: vwt(88px); text-indent: -9999em;}
      .btn_napthe{background: url("#{$img-path}/btn-napthe.png") no-repeat 0 0/contain;}
      .btn_play{background: url("#{$img-path}/btn-play1.png") no-repeat 0 0/contain;}
      .btn_gift,.btn_fanpage{width: vwt(130px); height: vwt(91px);}
      .btn_gift{background: url("#{$img-path}/btn-gift.png") no-repeat 0 0/contain;}
      .btn_fanpage{background: url("#{$img-path}/btn-fanpage.png") no-repeat 0 0/contain;}
    }
    .navbar-toggler{
      width: vwt(115px); height: vwt(82px);
      margin-left: vwt(0px); padding: 0;
      background: url("#{$img-path}/icon-menu.png") no-repeat 0 0/cover;
    }
  }
  header{
    padding-top: vwt(124px);
    h1{margin: vwt(20px) 0 0 vwt(760px);}
    .logo{width: vwt(269px);}
    .btn_playnow{width: vwt(300px); height: vwt(129px); margin: vwt(320px) 0 0 vwt(750px);}
  }
  .section.s1{
    width: 100%; height: inherit; margin: vwt(200px) 0 0; background: none; padding: 0;
  }
  .slider-home{
    width: vwt(1006px); height: vwt(635px);
    margin: 0 auto;
    padding: vwt(46px) vwt(38px) vwt(66px);
    background: url("#{$img-path}/bg-slider.png") no-repeat 0 0/contain;
    overflow-x: hidden;
    .slick-slide{max-height: vwt(523px);}
    .slick-arrow{
      width: vwt(73px); height: vwt(99px);
      background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
    }
    .slick-next{right: vwt(-35px);}
    .slick-prev{left: vwt(-35px);}
  }
  .news{
    width: vwt(1006px); height: vwt(696px);
    margin: 0 auto;
    background: url("#{$img-path}/bg-news1.png") no-repeat 0 0/contain;
    padding: vwt(77px) vwt(39px) vwt(47px);
    &__tab{
      margin: 0 0 vwt(12px) vwt(78px);
      li{margin: 0 vwt(6px);}
      a{
        width: vwt(224px); height: vwt(88px);
        font: vwt(42.5px) var(--UTMBebas);
        line-height: vwt(84px);
      }
    }
    &__list{
      padding: 0 vw(77px) 0 vwt(93px);
      >*+*{border-top: vwt(3px) solid #757474;}
      li{max-width: vwt(765px); padding: vwt(15px) 0; position: relative; line-height: vwt(36px);}
      li::before{
        width: vwt(40px); height: vwt(40px);
       left: vwt(-15px); top: vwt(15px);
      }
      a{padding-left: vwt(31px); font-size: vwt(33px);}
    }
    .tab-content{
      width: vwt(928px); height: vwt(473px); padding: vwt(15px) 0; background: url("#{$img-path}/bg-news.jpg") no-repeat 0 0/100% 100%;
    }
    .btn_viewmore{
      width: vwt(224px); height: vwt(88px);
      font: vwt(42.5px) var(--UTMBebas);
      line-height: vwt(84px);
    }
  }
  .charcter{
    height: vwt(810px);
    margin-top: vwt(260px);
    &__tab{
      position: absolute;
      left: 50%; right: inherit; transform: translateX(-50%); bottom: vwt(20px); z-index: 2;
      li{margin: 0 vwt(17px);}
      a{width: vwt(135px); height: vwt(135px);}
    }
    &__img{
      height: 100%;
      position: absolute;
      img{height: 100%; object-fit: cover; object-position: center center;}
      &--ngutieu{top: vwt(-72px);}
    }
  }
  .feature{
    margin-top: vwt(240px); overflow: hidden;
    &__slider{width: vwt(927px); margin: 0 auto;}
    .slick-arrow{
      width: vwt(111px); height: vwt(87px);
      background: url("#{$img-path}/next2.png") no-repeat 0 0/contain;
    }
    .slick-next{right: vwt(-115px);}
    .slick-prev{left: vwt(-115px);}
  }

  //category
  .category{
    width: vwt(1035px); height: vwt(1420px);
    margin: vw(10px) auto 0;
    background: url("#{$img-path}/bg-category.png") no-repeat 0 0/100% 100%;
    padding: vwt(60px) vwt(50px);
    &.category_detail{padding: vwt(61px) vwt(68px);}
    .nav-category{
      padding: vwt(40px) 0;
      margin-bottom: vwt(10px);
      li{margin: 0 vwt(9px);}
      a{width: vwt(224px); height: vwt(88px); font: vwt(42px) var(--UTMBebas); line-height: vwt(84px);}
    }
    &__list{
      padding: vwt(10px) 0;
      height: vwt(1125px);
    }
    .post{
      padding: vwt(13px) 0;
      border-bottom: vwt(3px) solid #333;
      .thumb{display: block; width: vwt(147px);}
      .content{width: calc(100% - 12.25vw); margin-top: vwt(5px); padding-left: vwt(17px);}
      h3{padding-left: vwt(37px); margin-bottom: vwt(22px); font-size: vwm(30.5px);}
      h3::before{width: vwt(37px); height: vwt(37px); top: vwt(7px);}
      p{padding-left: vwt(24px); font-size: vwm(23px); line-height: 1.2;}
    }
    .page-detail{
      height: 82%;
      margin-top: vwt(35px);
      >*{padding-right: 5px;}
      &::-webkit-scrollbar{width: 4px;}
      .title{margin-bottom: vwt(20px); font-size:vwt(34px);}
      article{font-size: vwm(23px); line-height: 1.2;}
    }
  }
}

@media (max-width: 767px) {
  .navbar{padding: 40px 0;}
  .navbar-menu{
    li{padding: 25px 0;}
    a{font-size: 18px;}
    .icon-home{width: 60px; height: 52px; margin-left: -15px;}
  }
  .pagination{
    margin-top: vwt(15px);
    li{width: 30px; height: 30px;}
    .icon-prev,.icon-next{width: 30px; height: 24px;}
    a{font: 16px TimesNewRomanPSMT, sans-serif;}
    .active::after{
      width: 20px; height: 20px; border: 1px solid #353535; top: 5px; left: 5px;
    }
  }

  //modal
  .popup-register,.popup-login{
    .modal-dialog{max-width: 400px;}
    .modal-content{min-height: 260px; height: inherit; padding: 15px 20px;}
    .modal-title{margin: 10px 0; font-size: 18px;}
    .form-group{margin: 0 auto 10px; max-width: 80%;}
    input{
      width: 100%; height: 26px; padding: 0 8px;
      font-size: 16px;
      &::placeholder{color: #16445e;}
      &:focus{outline: none;}
    }
    form{text-align: center;}
    .btn_submit{
      width: 124px; height: 33px;
      padding: 0 0 2px 3px;
      background: url("#{$img-path}/btn1.png") no-repeat 0 0/contain;
      color: #fff; font: 16.5px var(--UTMDaxlineMedium);
      margin: 0 auto; text-transform: uppercase;
    }
    .link_fp{
      display: block; margin-bottom: 5px; text-align: center;
      &:hover{text-decoration: underline;}
    }
    p{margin-top: 5px; font-size: 15px;}
    p a{
      text-shadow: 1px 0 0 currentColor;
      &:hover{border-bottom: 1px solid;}
    }
    a{color: #16445e;}
    .close{
      width: 65px; height: 65px;
      background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
      position: absolute; opacity: .9; right: -5px; top: -5px;
    }
  }
  .popup-register{
    .modal-content{min-height: 280px;}
  }
}

//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}